<!DOCTYPE html>
<html>
<head>
  <title>Confirm Your Email Address</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<body>
  <div class="container">
    <h2>Confirm Your Email Address</h2>
    <p>A confirmation email has been sent to your email address. Please follow the instructions in the email to confirm your account.</p>
    <%= form_with(url: user_confirmation_path, method: :post) do |form| %>
      <div class="field">
        <%= form.label :confirmation_token, "Confirmation token" %>
        <%= form.text_field :confirmation_token, autofocus: true, autocomplete: "off" %>
      </div>
      <div class="actions">
        <%= form.submit "Confirm Account" %>
      </div>
    <% end %>
  </div>
</body>
</html>
