<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="confirmation-box bg-light rounded p-4 shadow d-flex flex-column justify-content-center align-items-center"> <!-- Centrer le formulaire -->
        <div class="listing-price">
          <h4>$<%= @comic.price %></h4>
        </div>
        <%= simple_form_for [@comic, @booking] do |f| %>
          <div class="form-group text-center">
            <%= f.input :start_date, html5: true, class: "form-control", placeholder: "Start Date" %>
          </div>
          <div class="form-group text-center">
            <%= f.input :end_date, html5: true, class: "form-control", placeholder: "End Date" %>
          </div>
          <h5 class="text-center">Subtotal: <strong>$<%= @comic.price %></strong></h5>
          <div class="form-group text-center">
            <%= f.submit "Request to book", class: "btn btn-danger" %>
          </div>
          <div class="text-center text-muted">
            <p>You won't be charged yet</p>
            <p>-- Or --</p>
            <%= link_to "Contact owner", conversations_path, class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
