<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="bg-white rounded p-3 shadow">
        <h1 class="text-center mb-4">Which comic would you like to propose?</h1> <!-- Ajout du titre h1 -->
        <%= form_with(model: @comic, url: comics_path, method: :post) do |form| %>
          <div class="mb-3">
            <%= form.label :title, class: "form-label" %>
            <%= form.text_field :title, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :author, class: "form-label" %>
            <%= form.text_field :author, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :genre, class: "form-label" %>
            <%= form.text_field :genre, class: "form-control" %>
          </div>
          <div class="mb-3">
            <%= form.label :poster, "Poster URL", class: "form-label" %>
            <%= form.text_field :poster, class: "form-control", placeholder: "Enter URL" %>
          </div>
          <div class="mb-3 text-center">
            <%= form.submit "Submit", class: "btn btn-outline-secondary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
