
<div class="row">
  <% @comics.each do |comic| %>
    <div class="col-md-3">
      <div class="card mb-4 custom-card">
        <div class="card-body d-flex justify-content-between align-items-center">
          <div>
            <h5 class="card-title"><%= comic.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">by <%= comic.author %></h6>
            <p class="card-text"><strong>Genre:</strong> <%= comic.genre %></p>
            <p class="card-text"><strong>User:</strong> <%= comic.user.email %></p>
          </div>
          <div>
            <%= image_tag comic.poster, class: "img-fluid" %>
          </div>
        </div>
          <div>
          <%= link_to "View", comic, class: "btn btn-info" %>
          </div>
      </div>
    </div>
  <% end %>
</div>
