<div class="container">
<h1>Profile</h1>

  <%= link_to "Add Comic Book", new_comic_path, id: "add-comic-button", class: "btn btn-primary" %>
</div>

<div id="add-comic-form" style="display: none;">
  <%= render 'comics/form' %>

</div>

  <h2>Email: <%= current_user.email %></h2>

  <%= button_to "Reset Password", "#", method: :post, class: "dropdown-item", remote: true %>

  <h2>First Name: <%=current_user.first_name%></h2>

  <h2>Last Name: <%=current_user.last_name %></h2>

  <h2>Address: <%=current_user.address%></h2>

<h2>Bookings Waiting for Approval:</h2>
  <% @pending_bookings.each do |booking| %>
    <p><%= booking.status %></p>
      <%= button_to "Accept", booking_path(booking, status: 'Accepted'), method: :patch, data: { confirm: "Are you sure you want to accept thisbooking?" } %>
      <%= button_to "Reject", booking_path(booking, status: 'Rejected'), method: :patch, data: { confirm: "Are you sure you want to reject thi booking?" } %>
  <% end %>

  <h2>Bookings Processed:</h2>
  <% @mybookings.each do |booking| %>
    <p><%= booking.status %></p>
  <% end %>
  <div id="reset-password-message" style="display: none;">
  <div class="text-end">
  A reset password link has been sent to your e-mail address.
</div>
</div class="container">
